@use '../base/variables'  as *;

.latest-collections{
  max-width: 1440px;
  padding: 0 40px;
  padding-top: 4rem;
  margin-top: 36px !important;
  margin: auto;
  background-image: url("/assets/bg-circle.svg");
  background-repeat: no-repeat;
  background-position: top;

  &__header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.25rem;

    & h1{
      font-size: 88px;
      font-weight: 700;
      font-family: $s-font;
      text-align: center;
      color: white;
    }

    &-title{
      font-size: 72px;
      font-family: $s-font;
      font-weight: 700;
      color: white;
      text-align: center;
      line-height: 72.58px;
    }
  }

  &__headermb{
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h1{
      font-size: 72px;
      font-family: $s-font;
      font-weight: 700;
      color: white;
      text-align: center;
      line-height: 72.58px;
    }

    & svg{
      width: 57px;
      height: 56px;
    }
  }

  &__grid{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    margin-top: 43px;

    & a{
      text-decoration: none;
    }
  }

  &__images{
    width: 668px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    &:hover img{
      transform: scale(1.2);
      opacity: 0.8;
    }
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      transition: all 0.6s ease-in-out;
    }
  }

  &__text{
    position: absolute;
    bottom: 2rem;
    left: 1.75rem;
    font-size: 32px;
    font-weight: 500px;
    font-family: $p-font;
    color: white;
    text-shadow: 0px 0px 10px rgb(174, 0, 255);
  }
}

@media only screen and (max-width: 1366px) {
  .latest-collections__images{
    width: 628px;
  }
}

@media only screen and (max-width: 1024px) {
  .latest-collections__grid{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .latest-collections{
    padding-top: 4rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  .latest-collections__header{
    display: none;
  }
  .latest-collections__images{
    width: 100%;
    height: 400px;
  }
  .latest-collections__text{
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 480px) {
  .latest-collections{
    padding-top: 4rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  .latest-collections__headermb{
    display: none;
  }
  .latest-collections__header-title{
    display: none;
  }
}

