<div class="featured-products">
  <ul class="featured-products__list">
    {% for product in products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </ul>
  {% if products.size > 4 %}
    <div class="featured-products__button-container">
      <button class="featured-products__button">VIEW ALL</button>
    </div>
  {% endif %}
</div>