<section class="hero-banner">
  <div class="hero-banner__image">
    <img src="/assets/hero_banner_img.avif" alt="hero-banner">
  </div>
  <a href={{ settings['hero-banner'].settings.button_link }}>
    <div class="hero-banner__button">
      <button>
        <p>{{ settings['hero-banner'].settings.button_text }}</p>
      </button>
    </div>
  </a>
</section>