<section class="hero-banner">
  <div class="hero-banner__image">
    <img src="/assets/hero_banner_img.avif" alt="hero-banner">
  </div>
  <div class="hero-banner__button">
    <button>
      <p>VIEW THE COLLECTION</p>
    </button>
  </div>
</section>