<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/shuffle-logo.png" type="image/webp">
  <title>Shuffle Store | Gradiweb</title>
</head>
<body>
  {% include 'navbar.liquid' %}
  <main class="main-content">
    {% include 'hero-banner.liquid' %}
    {% include 'marquee.liquid' %}
    {% include 'featured-products.liquid' %}
    {% include 'collections.liquid' %}
  </main>
  {% include 'footer.liquid' %}
  <script src="/main.js"></script>
</body>
</html>