body {
  margin: 0;
  line-height: inherit;
  width: 100%;
  background-color: rgb(26, 26, 26);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  all: unset; /* quita todos los estilos predeterminados */
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: #f0f0f0; /* color de fondo base */
  color: #333;               /* color del texto */
  transition: background-color 0.2s ease;
}

::selection {
	background-color: #ec4899;
	color: white;
}

&::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}
&::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
}

.main-content{
  margin-top: 132px;
}

.top-bar {
  background-color: #762cfb;
  overflow: hidden;
  white-space: nowrap;
  height: 32px;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.top-bar__marquee {
  display: flex;
  overflow: hidden;
  position: relative;
  -web0it-mask-image: linear-gradient(to right, transparent, black 3%, black 90%, transparent);
  mask-image: linear-gradient(to right, transparent, black 3%, black 90%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.top-bar__content {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  animation: top-bar__scroll 65s linear infinite;
}

.top-bar__content:hover {
  animation-play-state: paused;
}

.top-bar__content svg{
  margin-right: .5rem;
}

.top-bar__content p {
  color: white;
  font-size: 12px;
  margin-right: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', monospace;
  font-weight: 900;
}

@keyframes top-bar__scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  background: rgba(35, 33, 40, 0.199);
  backdrop-filter: blur(16px);
}

.navbar__content{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
}

.navbar__content-info{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navbar__logo{
  width: 33.333333%;
}

.navbar__logo-container{
  width: fit-content;
  display: flex;
  cursor: pointer;
}

.navbar__payments{
  width: 33.333333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__payments-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: fit-content;
  background: #151515;
  border-radius: 9999px;
  gap: .5rem;
  border: 1px solid rgba(118, 44, 251, .6);
  box-shadow: 0px 0px 10px rgba(116, 44, 251, 0.233);
  transition: all 0.2s ease-in-out;
}

.navbar__payments-content:hover{
  border: 1px solid #762cfb;
  box-shadow: 0px 0px 10px rgba(116, 44, 251, 0.527);
}

.navbar__payments-content p{
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', monospace;
  font-size: 12px;
  font-weight: 600px;
}

.navbar__buttons{
  width: 33.333333%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar__buttons-content{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.navbar__buttons-content a{
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', monospace;  
  color: white;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.navbar__buttons-content a:hover{
  opacity: 0.9;
  border-bottom: 1px solid #955cff;
  box-shadow: 0 4px 6px rgba(116, 44, 251, 0.281);	
}

.navbar__buttons-content button{
  min-width: 60px;
  height: 42px;
  font-weight: 500;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: #762cfb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.548);
}

.navbar__buttons-content button:hover{
  background-color: rgba(118, 44, 251, .9);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.822);
}

.hero-banner{
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  position: relative;
}

.hero-banner__image{
  width: 100%;
}

.hero-banner__image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.hero-banner__button{
  position: absolute;
  bottom: 2.2rem;
  left: 4.5rem;

}

.hero-banner__button button{
  min-width: 117px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #762cfb;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: .375rem;
  padding-bottom: .375rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner__button button:hover{
  background-color: #813ff9;
}

.hero-banner__button button p{
  font-weight: 700;
  font-size: 23px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', monospace;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  letter-spacing: -1px;
}

.marquee{
  margin-top: 51px;
  margin-bottom: 31px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.marquee__content{
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.marquee__items{
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  animation: top-bar__scroll 180s linear infinite;
}

.marquee__items svg {
  margin-right: 2rem;
}

.marquee__items p {
  color: white;
  font-size: 72px;
  margin-right: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', monospace;
  font-weight: 900;
  letter-spacing: -3px;
}