$p-color: #762cfb;
$p2-color: rgba(118, 44, 251, 0.6);
$p3-color: #955cff;

$s-color: rgba(118, 44, 251, 0.9);
$s2-color: #813ff9;

$t-color:#ec4899;

$box-shadow-color: rgba(116, 44, 251, 0.233);
$box-shadow-color2: rgba(116, 44, 251, 0.527);
$box-shadow-color3: rgba(116, 44, 251, 0.281);

$blur:rgba(35, 33, 40, 0.199);

$p-font: 'Aeonik TRIAL', system-ui;
$s-font: 'Countach', system-ui;